/* MAJESTI */

@font-face{ 
    font-family: 'Majesti-Medium';
    src: url('../webfonts/majesti-banner-medium-webfont.eot');
    src: url('../webfonts/majesti-banner-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/majesti-banner-medium-webfont.woff') format('woff'),
         url('../webfonts/majesti-banner-medium-webfont.ttf') format('truetype'),
         url('../webfonts/majesti-banner-medium-webfont.svg#webfont') format('svg');
}

/* MONOPOLY */

@font-face{ 
    font-family: 'Monopoly';
    src: url('../webfonts/monopoly_bold-webfont.eot');
    src: url('../webfonts/monopoly_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../webfonts/monopoly_bold-webfont.woff') format('woff'),
         url('../webfonts/monopoly_bold-webfont.ttf') format('truetype'),
         url('../webfonts/monopoly_bold-webfont.svg#webfont') format('svg');
}

/* MORISTON */

@font-face {
    font-family: 'moriston_black';
    src: url('../webfonts/moristonpersonal-black-webfont.woff2') format('woff2'),
         url('../webfonts/moristonpersonal-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* BOOMVILLE */

@font-face {
    font-family: 'boomvilleregular';
    src: url('../webfonts/boomville-webfont.woff2') format('woff2'),
         url('../webfonts/boomville-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}